/*
1. numaradan 8. numaraya gidildikçe koyuluk azalıyor.
*/
.koyu-arkaplan-1 {
    background-color: #212529 !important;
}

.koyu-arkaplan-2 {
    background-color: #373b3e !important;
}

.koyu-arkaplan-3 {
    background-color: #424649 !important;
}

.koyu-arkaplan-4 {
    background-color: #4d5154 !important;
}

.koyu-arkaplan-5 {
    background-color: #51585e !important;
}

.koyu-arkaplan-6 {
    background-color: #565e64 !important;
}

.koyu-arkaplan-7 {
    background-color: #5c636a !important;
}

.koyu-arkaplan-8 {
    background-color: #6c757d !important;
}

.koyu-cerceve-1 {
    border-color: #212529 !important;
}

.koyu-cerceve-2 {
    border-color: #373b3e !important;
}

.koyu-cerceve-3 {
    border-color: #424649 !important;
}

.koyu-cerceve-4 {
    border-color: #4d5154 !important;
}

.koyu-cerceve-5 {
    border-color: #51585e !important;
}

.koyu-cerceve-6 {
    border-color: #565e64 !important;
}

.koyu-cerceve-7 {
    border-color: #5c636a !important;
}

.koyu-cerceve-8 {
    border-color: #6c757d !important;
}